{% extends "layout.html" %}
{% block active_brochures %}active{% endblock %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Brochures</h1>
	<hr class="hr-line" />
	<p>A glossy full-color brochure, sell sheet, or flyer is a sure-fire way to showcase your business or product. Brochures can be used to build an image for your company, promote an event, update product specifications, or can serve a hundred other purposes. In the Internet Age, a 4-color glossy brochure helps distinguish "real" companies from "wannabes."</p>
	<p>Brochures come in three standard sizes, 8 ½ x 11, 8 ½ x 14, and 11 x 17. An unfolded 8 ½ x 11 is often used for product sheets, or tri-folded for a company brochure. Many companies use an 11 x 17 brochure, folded in half, as an economical product catalog. Half, or third-cut sheets are also available.</p>
	<p>All brochures and flyers have 4-color printing on the front. The second side can be ordered blank, or printed with black ink or 4-color process. Plus, we offer an aqueous coating option. Aqueous coating is even glossier than varnish, and it adds scuff-resistance. It is great for giving that "rich" feel to your piece, and for protecting it in the mail.</p>
	<p>We can mail your brochures directly to your customers and prospects. For details on how we can save you time and money on your direct mail brochure project, give us a call or email us and we can discuss with you your bulk mail or first class mail options.</p>
	<p>We offer 5 paper stocks on brochures:</p>
	<ul>
		<li>80# gloss text (good quality)</li>
		<li>80# matte text weight (good quality)</li>
		<li>100# gloss text (about 25% thicker for a "high-end" feel)</li>
		<li>80# gloss cover (twice the thickness of 80# gloss text). *</li>
		<li>80# dull/matte cover (twice the thickness of 80# matte text). *</li>
	</ul>
	<p>*- If you order a fold, the cost of scoring will be included.</p>
{% endblock %}