{% extends "layout.html" %}
{% block active_catalogs %}active{% endblock %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Catalogs</h1>
	<hr class="hr-line" />
	<p>Customers demand information, and detailed product catalogs and booklets can generate orders by filling that need. You can build your own catalog or booklet in two sizes, the handy 5 ½ x 8 ½ or the ever-popular 8 ½ x 11. We offer anything from a simple brochure folded to make a four-pager, up to 64 pages in full color, saddle-stitched (stapled) at the spine. We handle all of the technical details like shingling and headtrim, leaving you free to create a catalog that <code>SELLS</code>.</p>
	<p>Calendars can be easily priced and ordered. Choose either 5 ½ x 8 ½ or 8 ½ x 11 sizes. Calendars are 4-Color throughout, 28 pages, saddle-stitched and have a hole drilled for hanging.</p>
	<p>Most people choose our glossy 80# text weight stock for the entire catalog, booklet or calendar. You can upgrade to 100# gloss text for a more substantial feel. Also, you can select 80# gloss text, 100# gloss text, or sturdy 80# gloss or dull/matte cover (8 ½ x 11 only) stock for the cover. This is only recommended if your catalog or booklet will see sustained use, such as for parts reference.</p>
	<p>One popular choice is 80# gloss text for the insides, and 100# gloss text for the cover. This gives an enduring, rich feel without busting the budget.</p>
{% endblock %}