{% extends "layout.html" %}
{% block active_contact %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Contact Us</h1>
	<hr class="hr-line" />
	<p>If you have any questions or comments regarding our services, please do not hesitate to contact us. Please contact us using the information below. Also, if you need to speak with a certain individual within the company, all individual e-mail addresses are posted below.</p>
	<br>
	<ul style="list-unstyled">
		<li><strong>Mailing Adress:</strong></li>
		<li>Commercial Print & Copy</li>
		<li>1403 Maclay Commerce Dr.</li>
		<li>Tallahassee, FL 32312-1792</li>
		<br>
		<li><strong>Telephone</strong>: (850) 893-4799</li>
		<li><strong>Fax</strong>: (850) 893-7739</li>
		<li><strong>Email</strong>: <a href="mailto:sales@cpccpc.com">sales@cpccpc.com</a></li>
		<li><strong>Hours</strong>: Monday - Friday, 8:30 A.M - 5:00 P.M </li>
	</ul>
	<br>
	<table class="table">
		<thead>
			<tr>
				<th>Name</th>
				<th>Position</th>
				<th>Email</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Steve Stewart</td>
				<td>Owner - Operator</td>
				<td><a href="mailto:steves@cpccpc.com">steves@cpccpc.com</a></td>
			</tr>
			<tr>
				<td>Kathy Stewart</td>
				<td>Operations Manager</td>
				<td><a href="mailto:sales@cpccpc.com">sales@cpccpc.com</a></td>
			</tr>
			<tr>
				<td>Kathy Stewart</td>
				<td>Sales Representative</td>
				<td><a href="mailto:sales@cpccpc.com">sales@cpccpc.com</a></td>
			</tr>
			<tr>
				<td>Elizabeth Fonseca</td>
				<td>Graphics</td>
				<td><a href="mailto:graphics@cpccpc.com">graphics@cpccpc.com</a></td>
			</tr>
		</tbody>
	</table>
{% endblock %}