{% extends "layout.html" %}
{% block active_custom %}active{% endblock %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Custom</h1>
	<hr class="hr-line" />
	<p>If you need information on a price on any size, type, or configuration of printed product that you don't see listed in any of our other categories, or on this page, please give us a call or email us.</p>
	<p><strong>Statement Stuffers</strong> are available in 7 sizes:</p>
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>8 ½ inch width</th>
				<th>7 inch width</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>3 ½ x 8 ½</td>
				<td>3 ½ x 7</td>
			</tr>
			<tr>
				<td>7 x 8 ½</td>
				<td>7 x 7</td>
			</tr>
			<tr>
				<td>10 ½ x 8 ½</td>
				<td>10 ½ x 7</td>
			</tr>
			<tr>
				<td>5 ½x 8 ½</td>
				<td></td>
			</tr>
		</tbody>
	</table>
	<p>In addition to being used as statement stuffers, these pieces are perfect for many other uses, including flyers, leaflets, and trade-show handouts. We offer five paper stocks: 70# uncoated text, 80# gloss text, 100# uncoated cover (14pt), 120# gloss cover (12pt) and 120# dull/matte cover (12pt). Printing is 4-color process on one side with your choice of 4-color, black or blank on the other side. Aqueous Coating is optional.</p>
	<p><strong>CD Covers</strong> and inlay cards are printed as one item on industry standard 100# gloss text paper. The inlay card is perforated at the folds for easy insertion into a CD case. They are printed 4 color on one side and your choice of 4 color, black or blank on the other with optional aqueous coating.</p>
{% endblock %}