{% extends "layout.html" %}
{% block active_home %}class="active"{% endblock %}

{% block body %}
	<h2 class="text-center">Welcome to Commercial Print & Copy!</h2>
	<hr class="hr-line" />
	<div class="index-body">
		<ul class="list-unstyled cpc-offerings">
			<li>When you call CPC you will not get a recording. You will talk to a live person.</li>
			<br>
			<li>When asking questions you will not get doubletalk. You will get answers!</li>
			<br>
			<li>When you need CPC's help at your office, one of our outside salespeople will be happy to stop by and assist you.</li>
			<br>
			<li>When you have a deadline, you know CPC will not take the job if they cannot meet it!</li>
			<br>
			<li>When you need typesetting or graphics, any of our graphics experts are here to help you.</li>
			<br>
			<li>When you need a job picked-up and the finished product delivered back to you, it is automatic. We deliver to anywhere in Tallahassee and there is never an extra charge!</li>
		</ul> <!-- /cpc-offerings -->
	</div> <!-- /index-body -->
{% endblock %}