{% extends "layout.html" %}
{% block active_map %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Map & Directions</h1>
	<hr class="hr-line" />
	<p>We are located in the Market District in the building next to Tallahassee Dance Academy and Petite Players.</p>
	<p><strong>Hours</strong>: Monday - Friday, 8:30 A.M - 5:00 P.M</p>
	<br>
	<iframe src="https://www.google.com/maps/embed?pb=!1m5!3m3!1m2!1s0x88ec58b0bba9cb45%3A0xbfad7ddf09f0c225!2sCommercial+Print+%26+Copy%2C+Maclay+Commerce+Drive%2C+Tallahassee%2C+FL!5e0!3m2!1sen!2sus!4v1387169098401" width="400" height="400" frameborder="0" style="border:0"></iframe>
	<br>
{% endblock %}