{% extends "layout.html" %}
{% block active_newsletters %}active{% endblock %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Newsletters</h1>
	<hr class="hr-line" />
	<p>Company newsletters, government newsletters, church bulletins – we do them all. You have many formats to choose from, including 2 pages up to 8 pages (or more by special request). You can create your newsletter layout using virtually any graphics program, whether Mac or PC version, or you can get assistance from one of our graphic experts. We offer you a choice of economical 70# uncoated stock, 80# gloss, or 80# matte for that high-end feel.</p>
	<p>Full color photos and graphics make your newsletter more attractive and more readable. And isn't that the point? Instead of just another dull newsletter, try color to really make your message pop!</p>
	<p>Multi-part newsletters are shipped uncollated, with the fold of your choice.</p>
{% endblock %}