{% extends "layout.html" %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Products</h1>
	<hr class="hr-line" />
	<div class="well">The following is an overview of our products. Click on the product name to get more details.</div>
	<ul class="list-unstyled">
		<li><a href="/brochures">Brochures</a></li>
		<li>A glossy full-color brochure, sell sheet, or flyer is a sure-fire way to showcase your business or product. Brochures can be used to build an image for your company, promote an event, update product specifications, or can serve a hundred other purposes. In the Internet Age, a 4-color glossy brochure helps distinguish "real" companies from "wannabes."</li>
		<br>
		<li><a href="/cards">Cards</a></li>
		<li>We offer high quality printing of all types of cards, including postcards, rack cards, business cards, greeting cards, note cards, bookmarks, and even door hangers. Design your own piece using virtually any graphics program, upload the file to us, and your cards will be on their way in no time at all. If you need help designing your piece, let one of our graphic experts help you design a piece.</li>
		<br>
		<li><a href="/newsletters">Newsletters</a></li>
		<li>Company newsletters, government newsletters, church bulletins – we do them all. You have many formats to choose from, including 2 pages up to 8 pages (or more by special request). You can create your newsletter layout using virtually any graphics program, whether Mac or PC version, or you can get assistance from one of our graphic experts. We offer you a choice of economical 70# uncoated stock, 80# gloss, or 80# matte for that high-end feel.</li>
		<br>
		<li><a href="/stationery">Stationery</a></li>
		<li>Our full color stationery section offers brilliant 4-color letterhead and envelopes. Our featured stock is Hammermill 70# Lustre. This ultra-smooth stock shows off your 4-color design beautifully, and is guaranteed laser-safe.</li>
		<br>
		<li><a href="/catalog">Catalogs/Booklets</a></li>
		<li>Customers demand information, and detailed product catalogs and booklets can generate orders by filling that need. You can build your own catalog or booklet in two sizes, the handy 5 ½ x 8 ½ or the ever-popular 8 ½ x 11. We offer anything from a simple brochure folded to make a four-pager, up to 64 pages in full color, saddle-stitched (stapled) at the spine. We handle all of the technical details like shingling and headtrim, leaving you free to create a catalog that <code>SELLS</code>.</li>
		<br>
		<li><a href="/folders">Folders</a></li>
		<li>Our glossy pocket folders are the perfect solution for presenting your promotional materials in style. Folders are a polished and practical way to organize business proposals, press kits, company or product literature, conference handouts and much more. All folders have 4-color printing on the outside. For the inside, you choose either blank, printed with black ink, or 4-color process. The printed sides have gloss varnish added for a durable and high-end finish.</li>
		<br>
		<li><a href="/custom">Custom & Misc.</a></li>
		<li>If you need information on a price on any size, type, or configuration of printed product that you don't see listed in any of our other categories, or on this page, please give us a call or email us.</li>
		<br>
	</ul>
{% endblock %}