{% extends "layout.html" %}
{% block active_stationery %}active{% endblock %}
{% block active_products %}class="active"{% endblock %}

{% block body %}
	<h1 class="text-center">Stationery</h1>
	<hr class="hr-line" />
	<p>Our full color stationery section offers brilliant 4-color letterhead and envelopes. Our featured stock is Hammermill 70# Lustre. This ultra-smooth stock shows off your 4-color design beautifully, and is guaranteed laser-safe.</p>
	<p>Special Offer! Get a free box of business cards with your Letterhead and Envelope order.</p>
	<p>Letterhead and Envelopes can be ordered in matching quantities. Packages cost $429 for 500 sets, and 18¢ for each additional set.</p>
	<p>If you don't need the matching sets you can order Letterhead Only starting at just $269 for 250 and 6.9¢ for each additional piece, or #10 Envelopes Only starting at $379 for 500 and 11¢ for each additional piece.</p>
	<p>We also offer large envelopes in two sizes. 9 x 12 Booklet Envelopes or 9 ½ x 12 5/8 Booklet Envelopes can be ordered with a standard glue flap or with convenient Peel & Seel ™ starting at just $475 for the first 500 and 19¢ for each additional envelope printed in full color.</p>
	<p>If you need Business Cards, they can be ordered in the <a href="/cards">Cards section</a>.</p>
	<p>Also, you can create your own stationery (frequently misspelled stationary) design in virtually any layout program, including MS Publisher, Illustrator, Quark, or Pagemaker. You can also have our graphic experts assist you in the design.</p>
{% endblock %}